.app{
  /* max-width: 1500px; */
  margin: 0 auto;
  /* margin-top: 50px; */
  overflow-x: hidden;
}

/* HEADER */
.main-header{
  max-width: 1500px;
  margin: 0 auto;
  margin-top: 50px;
}
.header{

  max-width: 1500px;
  height: 90px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center;
  margin-top: 25px;
  
  
}
.header span{
  cursor: pointer;
  border-radius: 800px;
  padding: 5px;
  font-weight: bold;
}
.header span i{
  font-size: 20px;
  font-weight: bolder;
}
.bi-heart-fill{
  color: red;
}

.header span:hover{
  background-color: rgb(245, 245, 245);
  border-radius: 800px;
  padding: 5px;
}

.logo{
  width: 90px;
  height: 36px;
  background-image: url("img/ikea-logo.f7d9229f806b59ec64cb.svg");
  background-size: cover;
}

.search{
  background-color: rgb(245, 245, 245);
  height: 54px;
  max-width: 900px;
  width: 100%;
  
  border-radius: 800px;
  border: none;
  padding-left: 50px;
  
}
.user{
  height: 44px;
  font-weight: bold;
  display: flex;
  justify-content: space-around;
}
.black-top{
  height: 50px;
  background-color: black;
  width: 100vw;
  position: absolute;
  top: 0px;
  left: 0px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.black-top p{
  color: white;
}
.prodotti-ambienti-offerte{
  display: flex;
  justify-content: space-between;
  border-bottom: black;
  border-bottom: 0.2px inset rgb(72, 72, 72);
  
}
.prodotti-ambienti-offerte p{
 margin-right: 10px;
 font-weight: bolder;
 font-size: 1rem;
}

.abs {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: fixed;
  top: 70px;
  margin-left: 50px;
  width: 100px;
  
}
.abs i{
    font-weight: bolder;
    font-size: 1.2rem;
    color: black;
}
.abs p{
    
    font-size: 1rem;
}
.abs i:hover{
    background-color: rgb(245, 245, 245);
    border-radius: 800px;
}
::-webkit-scrollbar {
  height: 7px;
  width: 7px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb {
  background: rgb(61, 61, 61);
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(5, 5, 5);
}

